body{
    font-family:'Manrope', sans-serif;
}
.wraper{
    min-height: 100%;
    overflow: hidden;
    width: 100%;
}
.container{
    max-width: 1290px;
    padding: 0 10px;
    margin: 0 auto;
}
.header__top-iner{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #1E1B1B;

}
.header__logo {
    margin-right: 400px;    
}
.logo {
}
.header__nav {
    position: relative;
    margin-right: 64px;
}
.header__nav::after {
    content: "";
    background-color: #939191;
    width: 1px;
    height: 42px;
    position: absolute;
    top: -12px;
    right: -40px;
    opacity: 0.36;
}
.header__nav-link {
    margin-right: 40px;
   transition: all 1s;
}
.header__nav-link:last-child {
    margin-right: 0;
}
.header__nav-link:hover {
    font-weight: 800;
   
}
.header__tell {
}
.header__tell-link {
    position: relative;
}
.header__tell-link::before {
    content: "";
    position: absolute;
    background-image: url(./Assistanceicon.svg);
    width: 40px;
    height: 40px;
    top: 0;
    left: -55px;
    transition: all 1s;
}
.header__tell-link:hover::before {
    transform: scale(1.1);
}

.header__tell-ass{
    opacity: .7;
    font-weight: 500;
}